<nav class="navbar navbar-expand-lg navbar-revistuda fixed-top">
  <div class="container-fluid px-4">
    <a class="navbar-brand-revistuda" href="#">
      <span class="icone-marca"><i class="fi fi-sr-book-open-cover"></i></span>
      <span class="nome-marca">ReviStuda</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRevistuda" aria-controls="navbarRevistuda" aria-expanded="false" aria-label="Abrir menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarRevistuda">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ms-4">
        <li class="nav-item">
         <a class="nav-link active" href="#">Sobre nós</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="boas-vindas-page">
  <div class="conteudo-central">

    <h1 class="pergunta-principal">Quem é você?</h1>
    <p class="subtexto">Toque no botão que representa você para continuar.</p>

    <div class="grid-perfis">
      <button type="button" class="card-perfil" (click)="escolherPerfil('idoso')">
        <span class="icone-perfil bg-azul-escuro"><i class="fi fi-sr-hiking"></i></span>
        <span class="titulo-perfil">Sou Idoso</span>
      </button>

      <button type="button" class="card-perfil" (click)="escolherPerfil('professor')">
        <span class="icone-perfil bg-azul-claro"><i class="fi fi-rr-graduation-cap"></i></span>
        <span class="titulo-perfil">Sou Professor</span>
      </button>

      <button type="button" class="card-perfil" (click)="escolherPerfil('adm')">
        <span class="icone-perfil bg-azul-escuro"><i class="fi fi-bs-stats"></i></span>
        <span class="titulo-perfil">Sou Administrador</span>
      </button>
    </div>

  </div>
</div>